apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: app
  name: app
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: app
    spec:
      containers:
      - image: shtrm/toirus:v5.5
        name: app
        env:
           - name: APP_DB_HOST
             value: mysql   # cluster dns: mysql
           - name: APP_REDIS_HOST
             value: redis   # cluster dns: redis
           - name: APP_DB_PASSWORD
             valueFrom:
               secretKeyRef:
                  name: mysql-secrets
                  key: ROOT_PASSWORD
        volumeMounts:
            - mountPath: "/var/www/toirus-srv/html"
              subPath: "html"
              name: app-disk
            - name: config-vol
              mountPath: "/var/toirus-config/"
        lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "cp -r /var/toirus-base/html/. /var/www/toirus-srv/html;\\cp -r /var/toirus-config/. /var/www/toirus-srv/html/common/config/;\\mkdir -p /var/www/toirus-srv/html/logs"]
      restartPolicy: Always
      volumes:
        - name: app-disk
          persistentVolumeClaim:
            claimName: app-disk
        - name: config-vol
          configMap:
            name: conf-toirus
status: {}
