apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: nginx
  name: nginx
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: nginx
    spec:
      containers:
      - image: openresty/openresty:alpine
        name: nginx
        ports:
        - containerPort: 81
        resources: {}
        volumeMounts:
           - mountPath: "/var/www/toirus-srv/html"
             subPath: html
             name: app-disk
           - mountPath: /etc/nginx/
             name: config-volume
      restartPolicy: Always
      volumes:
        - name: app-disk
          persistentVolumeClaim:
            claimName: app-disk
        - name: config-volume
          configMap:
            name: conf-nginx
status: {}
