apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  name: redis
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      containers:
      - command:
        - redis-server
        - --appendonly
        - "yes"
        image: redis
        name: redis
        ports:
        - containerPort: 6379
        resources: {}
        volumeMounts:
            - mountPath: "/var/lib/redis"
              subPath: "redis"
              name: redis-disk
      volumes:
        - name: redis-disk
          persistentVolumeClaim:
            claimName: redis-disk
      restartPolicy: Always
status: {}
